body{
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Tourney', cursive;*/
}
.hero {
padding: 0 5%;
display: flex;
background-image: url(images/top-banner.png);
background-size: contain;
background-repeat: no-repeat;
}

.hero-left {
    width: 42%;
    padding: 0 3%;
    float: left;
    margin: auto;
}
.hero-right {
    width: 42%;
    padding: 0 3%;
    float: left;
}
h1 {
    font-size: 50px;
    line-height: 55px;
    margin: 5px 0;
}

.name-color {
    color: orange;
}

.hero-right img {
    width: 80%;
    float: right;
}

.btn-hire {
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #FF9873, #FF684C);
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

.hero-left p {
    margin-bottom: 40px;
}

.dream {
    margin-top: 100px;
    padding: 0 5%;
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}    
.dream-left {
    width: 42%;
    padding: 0 3%;
    float: left;
    margin: auto;
}
.dream-right {
    width: 42%;
    padding: 0 3%;
    float: left;
    margin: auto;
}
.btn-resume {
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #FF9873, #FF684C);
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

.dream-left img {
    width: 80%;
    float: left;
}

.dream-right p {
    margin-bottom: 40px;
}